// Navigation code here

.top{
    width: 100%;
    background-color: whitesmoke;
    border: 1px solid red;
}
nav {
    display:flex;
    flex-direction: column;
   
       h1{
        font-size:2.8rem;
        
    a{
        font-size: 2rem;
    }    
    }//ends h1 
}//ends navigation